/*
Some default colors are defined in eightshift-frontend-libs as defaults.
If you want to override them just define them with a new value here.

All variables are available here:
https://github.com/infinum/eightshift-frontend-libs/blob/develop/styles/scss/_colors.scss
*/

$base-elephant-color: #000;
$base-cape-color: #4b5555;
$base-cararra-color: #f4f3f0;
$base-nevada-color: #656f6f;
$base-mandy-color: #e84e4e;
$base-white-color: #ffffff;
$base-pewter-color: #999c9c;
$base-chamois-color: #f5dd64;
$base-picton-color: #44aede;
$base-egg-color: #f7efc7;
$base-charade-color: #282a36;
$base-venture-color: #2f71ff;
